/*navbar style*/
.navbar{
    display: flex;
    justify-content: space-between;
} 
.nav-link{
    list-style: none;
    text-decoration: none;
   margin: 20px;
} 
.influencer-style{
    display: flex;
    justify-content: space-between;
    margin-top:100px ;
    text-align: left;
} 

.influencer-img {
    background-repeat: no-repeat;
    background-position: right;
    height: 400px;
} 
.image-st {
    float: right;
} 
/*main section-style*/
.logo-style {
   margin-top: 80px;
   display: flex;
   justify-content: space-around;
} 
