
.body {
    margin: 20px;
}
/*navbar style*/
.head{
    font-size: larger;

}
.navbar{
    display: flex;
    justify-content: space-between;
} 
.nav-link{
    list-style: none;
    text-decoration: none;
   margin: 20px;
} 
.influencer-style{
    display: flex;
    justify-content: space-between;
    margin-top:100px ;
    text-align: left;
} 

.influencer-img {
    background-repeat: no-repeat;
    background-position: right;
    height: 400px;
} 
.image-st {
    float: right;
} 
/*main section-style*/
.logo-style {
   margin-top: 80px;
   display: flex;
   justify-content:space-evenly;
} 
/*section and artical */
.popular{
   display: grid;
   grid-template-columns: repeat(3, 1fr);

} 
.popular-style{
   border: 1px solid wheat;
   gap: 20px;
   border-radius: 8px;
   padding: 30px;
   text-align: justify;
  
} 
/*button style*/
.btn-style{
   background-color: darkgoldenrod;
   color: aliceblue;
   gap: 20px;
} 
.design {
    margin-top: 30px;
    display: flex;
   gap: 100px;
}
